#main_content {
	height: 1500px;
	background-color: #DDDDDD;
	border-radius: 1%;
}
ul.nav.navbar-nav {
	margin-top: 0;
	margin-bottom: 0;
}
nav.navbar.navbar-default {
	background-color: #DDDDDD;
	border: 2px solid #000000;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px
}
ul.nav.navbar-nav a {
	background-color: #FFFFFF;
	border: 1px solid #000000;
	text-align: center;
	font-weight: bold;
	color: #000000;
}
ul.nav.navbar-nav a:hover {
	background-color: #000000;
	color: #FFFFFF;
}
div.navbar-header a.navbar-brand {
	color:#000000;
	font-weight: bold;
}
h2 {
	margin-top: 0;
}
section p {
	margin: 20px;
}